services:
  euro:
    image: postgres:15.2
    container_name: euro_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user-name
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
    volumes:
      - ./database:/docker-entrypoint-initdb.d
    secrets:
      - db_password
  euro_pg_admin:
    image: dpage/pgadmin4
    container_name: euro_pg_admin
    restart: always
    ports:
      - "8000:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: user@name.com
      PGADMIN_DEFAULT_PASSWORD_FILE: /run/secrets/pg_admin_password
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    secrets:
      - pg_admin_password

secrets:
  db_password:
    file: db_password.txt
  pg_admin_password:
    file: pg_admin_password.txt

volumes:
  pgadmin-data:
