{{ define "footer" }}
<footer class="bg-body-tertiary mt-4">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5>Sivustosta</h5>
        <p>
          Sivusto tarjoaa ennusteita uuden musiikin kilpailuun ja Euroviisuihin
          hyödyntäen dataa ja analytiikkaa. Sen tärkein tehtävä on tarjota
          oppimismahdollisuuksia tekijälle ja toimia motivaationa päivätyön
          jälkeen uusien asioiden kokeiluun.
        </p>
        <p>
          Voit tutkia ennusteita ja käyttää dataa haluamallasi tavalla.
          Katselumäärät perustuvat musiikkikilpailujen virallisiin
          YouTube-kanaviin, mikä mahdollistaa mielenkiintoisten trendien
          seuraamisen ja analysoinnin.
        </p>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5>Lisää aiheesta</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a
              href="https://polymarket.com/event/eurovision-winner-2025"
              class="text-body"
              >Euroviisujen vedonlyönti Polymarketissa</a
            >
          </li>
          <li>
            <a
              href="https://www.youtube.com/EurovisionSongContest"
              class="text-body"
              >Eurovisuujen YouTube-kanava</a
            >
          </li>
          <li>
            <a href="#!" class="text-body">UMK YouTube-kanava</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2025 Copyright:
    <a class="text-body" href="https://kotis.dev">kotis.dev</a>
  </div>
</footer>
{{ end }}
